@charset "URF-8";

@import url('https://fonts.googleapis.com/css2?family=Delius');

*
{
    box-sizing: border-box;
}

body, html
{
    margin: 0;
    padding: 0;
    height: 100%;
}

body
{
    background-color: #070d22;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, #070d22, #070d22, #023B65, #131a38);
}

#info
{
    --cor_bg: rgb(52, 100, 157);

    display: block;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border: 1px solid var(--cor_bg);
    box-shadow: -1px -1px 20px 0.5px var(--cor_bg);

    margin: 10px auto 20px auto;
    width: 260px;
    height: 70px;
    padding: 10px;
    border-radius: 10px;

    font-family: 'Delius', cursive;
    font-size: 0.9rem;

   color: rgba(255, 255, 255, 0.87);

   --x-pos: 0;
    --y-angle: calc(var(--x-pos)*5deg);

    --y-pos: 0;
    --x-angle: calc(var(--y-pos)*5deg);

   transform: 
   perspective(170px)
   rotateY(var(--y-angle))
   rotateX(var(--x-angle));
}

.detalhe
{
    color: #39FF14;
}

#info p
{
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}